# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist/
build/

# Editor/IDE
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Testing
coverage/
*.lcov

# Ambiente local
.env
.env.local
.env.*.local
