.deck-stack {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.deck-pile-game,
.discard-pile-game {
  display: flex;
  align-items: center;
  justify-content: center;
}
