@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

:root{
  --bg: #7A1E1E;      /* fondo principal */
  --panel: #C19A6B;   /* color principal para tarjetas */
  --panel-light: #FFF8E1; /* fondo inputs / superficies claras */
  --text-dark: #2E2E2E;   /* texto principal */
  --text-light: #F8F1E7;/* Fondo pantalla centrado */
}

/* reset básico */
*{ box-sizing: border-box; margin:0; padding:0; }
html,body,#root{ height:100%; }
body{
  /* Propiedades añadidas para centrar la imagen */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  /* Fin de propiedades para centrar */

  background-image:url(./assets/home.png);
  color: var(--text);
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* Contenedor principal: divide en 2 mitades */
.contenedor{
  display:flex;
  min-height:100vh;
}

/* Izquierda y derecha ocupan la mitad cada una */
.izquierda,
.derecha{
  flex:1;
  display:flex;
  justify-content:center; /* centra horizontalmente el contenido */
  align-items:center;     /* centra verticalmente */
  padding: 2.5rem;
  gap:1rem;
  box-sizing:border-box;
}

